<h2 class="page-title">Round Scores</h2>

{{#paper-card as |card|}}
  {{#card.content}}
    {{#paper-list}}
      {{#each round.matches as |match|}}
        {{#paper-item}}
          {{round-scores-match match=match}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  {{/card.content}}
{{/paper-card}}

